### Mac ####
.DS_Store

### PHP ###
Homestead.json
Homestead.yaml
/.idea

### Laravel ###
.env
/vendor
/node_modules
/public/storage
/public/uploads

### Theme ###
/public/assets
/public/build
/public/js
/public/css
